
:root {
  --cor0: #C4F9BC;
  --cor1: #81c775;
  --cor2: #008542;
  --cor3: #FCB823;
}

*{
  margin: 0px;
  padding: 0px;
}



  .prehead {
    background: #C4F9BB;
    padding: 20px;
    text-align:left ; 
  }
  
  .branco {
    background: #ffffff;
    padding: 5px;
    text-align:left ;
    list-style-type: none;
   
  }
  
  #nav {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: space-between; /* Distribui os elementos igualmente ao longo do eixo principal */
    padding: 10px 20px; /* Adiciona um espaçamento interno */
    margin-left: 200px;
}

  #nav img{
    margin-left: 10px;
    width: 100px;
  }

  #perfil {
    text-decoration: none;
    font-size: 23px;
    color: var(--cor2);
    background-color: var(--cor3);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
  }
  #perfil:hover{
    font-size: 25px;
    margin-left: -2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.187);
  }

  input{
    max-width: 300px;
    height: 30px;
    border-radius: 20px;
    border-color: rgb(4, 105, 4);
    border-style: solid;
    font-family: sans-serif;
    padding-left: 15px;
  }

  .links {
    text-decoration: none;
    color:  rgb(4, 105, 4);
    padding: 15px 30px; /* Ajuste o padding para manter o tamanho constante */
    border-right: 2px solid rgb(255, 226, 60);
    text-align: center;
    display: inline-block;
    margin-left: -29px; /* Removendo a margem esquerda */
    margin-right: 10px; 
    font-size: 20px;
    font-family:sans-serif;
    font-weight: lighter;
    margin-right: 30px;
    
  }

.links:hover {
    background-color: #f8e30019;
    padding-left: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.222);  
}
.links:active{
  background-color: rgba(255, 226, 60, 0.839);
  padding-left: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.222);
}

#perfil img {
  width: 80px; /* Ajuste a largura conforme necessário */
  height: 80px; /* Ajuste a altura conforme necessário */
  margin-left: 20px; /* Adiciona um espaçamento à esquerda da imagem do perfil */
}
#perfil img:hover{
width: 82px;
height: 82px;
margin: 0px -10px -5px 20px

}

#voz {
  background-color:rgba(255, 226, 60, 0.839);
  padding-left: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.222);
}

 

  #logo{
width: 80px;
height: 80px;
margin-right: 20px;
margin-top: 20px;
margin-left: 20px;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.219);
  }

  #botaologo{
    display: inline-flex;
    margin: 0px 0px 20px 0px;
  }

 
  
header  h1{
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}


  .decorative-bar {
    
    height: 5px; /* Altura da barra */
    background-color:  rgb(255, 226, 60); /* Cor da barra */
    width: 80px; /* Largura da barra */
    margin-top: 30px; 
    margin-left: 2px;
   margin-left: 30px;
    
}


/* CORPO DA PAGINA*/
h2#subtitulo{
  font-size: 35px;
  color:#000000;
  margin-left: 30px;
  padding-bottom: 10px;
}
.decorative-bar {
    
  height: 5px; /* Altura da barra */
  background-color:  rgb(255, 226, 60); /* Cor da barra */
  width: 80px; /* Largura da barra */
  margin-top: 30px; 
  margin-left: 2px;
 margin-left: 30px;
  
}



main section {
  margin-top: 30px;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  flex-wrap: wrap; /* Garante que os elementos da seção fiquem em linha */
  padding: 20px;/* Adiciona um espaçamento interno */
  margin-bottom: 200px;
}
section img{
  width: 280px;
  margin-right: 130px;
  filter: brightness(60%);
  transition: 0.25s;
  border-radius: 20px;
}

section img:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.334);
  border-radius: 20px;
  width: 290px;
  margin-right: 120px;
 margin-top: -10px;
 filter: brightness(100%);
 transition: 0.25s;

}



/*CORPO DA PAGINA*/

.tit {
  position: absolute;
  top: 32%;
  left: 28%;
  transform: translate(-50%, -50%);
  color: green;
  word-spacing: -16px;
  margin-top: 40px;
}

.imagens {
  border-radius: 20px;
  display: block;
  margin-top: 180px;
  margin-left: 130px;
  width: 250px; 
  height: auto
}

.minitit .titulus {
  margin-left: 30px; 
  color: green;
  font-family: petr;
  font-size: 23px;
  margin-top: 150px;
  word-spacing: -5px;
}

.minitit .titulus2 {
  margin-left: 30px; 
  color: green;
  font-size: 23px;
  margin-top: 190px;
  word-spacing: -5px;
}

.minitit .texto {
  text-align: justify;
  max-width: 320px;
  margin-left: 30px;
}

.quadroscima,
.quadrobaixo {
  display: inline-flex;
}

.minitit {
  display: flex;
  align-items: center;
}

.imagembaixo{
  margin-top: -100px;
  
}

.textoeimagembaixo{
  margin-top: -70px;
}
.imagembaixo img{
  height: 200px;
}






/*FOOTER*/
footer{
  display: inline-block;
  text-align: center;
  background-color: rgba(0, 128, 0, 0.027);
  padding-top: 100px;
  padding-bottom: 100px ;
  width: 100%;
  
  
}

footer a{
  font-size: 20px;
  text-decoration: none;
  color: var(--cor2);
  justify-content: center;
  margin: 10px 100px 10px 10px;

}

footer a:hover{
  text-decoration: underline;
}

.titulo {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens sejam enrolados para a próxima linha */
  color:rgb(4, 105, 4);
  justify-content: space-around;
  font-size: 20px;
  font-family: sans-serif;
}

.item {
 
  text-align: left;
}

.subtitulo {
  font-size: 18px;
  color: rgb(0, 0, 0);
  display: block;
  margin-top: 15px;
  font-family: sans-serif;
}

img{  
width: 30px;
height: auto;
}

#fimft{
display: inline-flex;
background-color: white;
padding-top: 100px;
padding-bottom: 100px;
text-align: left;
margin-left: 50px;
}
#fimft a{
margin-right: 50px;
}









